
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Visual Studio Code
.vscode

### Binary
docs
dist
kafkactl
kafkactl.exe

### Configs
.kafkactl.yml
kafkactl.yml

### logs
*.log
/kafkactl-completion.bash
