name: Lint / Test / IT

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v2

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.20'
      - name: Run Unit tests
        run: make test
      - name: Upload logs
        uses: actions/upload-artifact@v2
        with:
          name: test-logs
          path: test.log

  integration_test:
    name: Integration Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # https://docs.confluent.io/platform/current/installation/versions-interoperability.html
        kafka_version: [3.3.0, 3.2.0, 3.1.0, 3.0.0]
        include:
          - kafka_version: 3.3.0
            cp_version: 7.3.1
          - kafka_version: 3.2.0
            cp_version: 7.2.3
          - kafka_version: 3.1.0
            cp_version: 7.1.5
          - kafka_version: 3.0.0
            cp_version: 7.0.7
    env:
      CP_VERSION: ${{ matrix.cp_version }}
      KAFKAVERSION: ${{ matrix.kafka_version }}
      REQUESTTIMEOUT: 15s
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.20'
      - name: Run integration tests
        uses: nick-fields/retry@v2
        with:
          max_attempts: 2
          retry_on: error
          timeout_minutes: 10
          command: make integration_test
      - name: Upload logs
        uses: actions/upload-artifact@v2
        with:
          name: it-logs
          path: integration-test.log
