name: Publish github pages
on:
  push:
    tags:
      - v*
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      -
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      -
        name: Build and generate docs
        run: make docs
      -
        name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: .
